{# templates/task/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Task: {{ task.title }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
            <br />

        {{ form_row(form.isCompleted) }}
        <br />
        <button type="submit">Save Changes</button>
    {{ form_end(form) }}
    <br />
    <a href="{{ path('task_show', { 'id': task.id }) }}">Cancel</a>
{% endblock %}
