{# templates/task/index.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task List</h1>

    <a href="{{ path('task_new') }}">Create New Task</a>
    <br />
    <br />

    <ul>
        {% for task in tasks %}
            <li>
                <strong>{{ task.title }}</strong>
                {% if task.isCompleted %}
                    <span>(Completed)</span>
                {% endif %}
                <a href="{{ path('task_show', { 'id': task.id }) }}">View</a>
                <a href="{{ path('task_edit', { 'id': task.id }) }}">Edit</a>
<form action="{{ path('task_delete', { 'id': task.id }) }}" method="post" style="display:inline;">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" onclick="return confirm('Are you sure?')">Delete</button>
</form>
            </li>
        {% else %}
            <li>No tasks found.</li>
        {% endfor %}
    </ul>
{% endblock %}